<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="automation-suite" verbose="1">
    <!-- <listeners>
        <listener class-name="vn.vti.academy.automation.tests.support.AllureTestListener"/>
    </listeners> -->
    <test name="ui-smoke">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
</suite>
